.pinball-table {
  border: 1px solid gray;
  background-color: white;
}
.pinball {
  background-color: silver;
  position: absolute;
  z-index: 99999999;
}
.wall {
  position: absolute;
}
.flipper {
  position: absolute;
}
.flipperButton {
  position: absolute;
  margin-left: 2px;
  background-color: red;
  height: 30px;
  width: 20px;
}
.plunger {
  background-color: brown;
  width: 20px;
  height: 100px;
  position: absolute;
  z-index: -1;
}
